<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JustCatPics</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"   rel="stylesheet"       integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<br /><br />
<div class="container">
    <div class="row">
        <h1 class="text-center"> Meow </h1>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td <!--th:if="${pictures.empty}" colspan="2"-->> No Pictures Yet! </td>
        </tr>
        <tr>
            <td><!--<span th:text = "${pictures.name}"></span>Name--></td>
            <td><!--<span th:text = "${pictures.user}"></span>Uploader--></td>
            <td> th:each = "${pictures.tags}"</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
